.bg-register {
    background-image: url('../assets/img/auth-background.png');
}

.border-modal {
    border: 1px solid #616161; 
}

.border-modal:is(:active, :focus) {
    border: 1px solid  #1A73E8;
}

#logout:hover {
    color: white;
    background-color: #dbdbdb;
    border-radius: .5em;
}

.form-control {
    border: 1px solid  #616161;
}

.form-control:is(:active, :focus) {
    border: 1px solid  #0d57b7;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.page-item.active .page-link {
    background-color: #1A73E8;
    border-color: #1A73E8;
    color: white;
}

.page-link{
    color: #616161;
}
.page-link:hover{
    color: #1A73E8;
}
.page-link:is(:active, :focus) {
    color: #1A73E8;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.page-item.next .page-link {
    background-color: #1A73E8;
    border-color: #1A73E8;
    color: white;
}

.page-item.disabled .page-link {
    border-color: #cfcfcf;
    color: #a2a2a2;
    background-color: #cfcfcf;
}

.page-item.disabled:is(:active, :focus ) {
    box-shadow: 0 0 0 0.2rem rgba(121, 121, 121, 0.25);
    border-radius: .30em;
}

#data_table_paginate{
    margin-top: 1em;
}

#data_table_info{
    margin-top: 1em;
}

input[type="search"] {
    border-radius: .5em;
}


#portfolio {
    background: #fff;
    width: fit-content;
    padding: 10px 0;
}
#portfolio .portfolio-overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 200px;
    height: 100%;
    opacity: 1;
    transition: all ease-in-out 0.4s;
}
#portfolio .portfolio-item {
    overflow: hidden;
    position: relative;
    padding: 0;
    vertical-align: middle;
}
#portfolio .portfolio-item h2 {
    color: #ffffff;
    font-size: 24px;
    margin: 0;
    text-transform: capitalize;
    font-weight: 700;
}
#portfolio .portfolio-item img {
    transition: all ease-in-out 0.4s;
    width: 200px;
    border-radius: .25em;
}
#portfolio .portfolio-item:hover img {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}
#portfolio .portfolio-item:hover .portfolio-overlay {
    opacity: 1;
    background: rgba(0, 0, 0, 0.7);
}
#portfolio .portfolio-info {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
#gambar{
    aspect-ratio: 1/2;
    max-height: 100px;
    object-fit: cover;
    width: auto;
}

